<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="manager.page.scss" />
</head>

<body>
  <div class="mobile">
    <div class="overlap-wrapper">
      <div class="overlap">
        <div class="overlap-group">
          <div class="text-wrapper">Usuarios</div>
        </div>

        <div class="frame">

          <div class="div">
            <div class="user">Administrador</div>
            <div class="pass">Pass</div>
            <div class="register">Registro</div>
            <div class="access">Acceso</div>
            <div class="service">Servicio</div>
            <div class="manager">Encarg</div>
            <div class="therapist">Terap</div>
            <div class="total">Total</div>
          </div>

          <div class="navbar">
            <div class="rectangle" *ngFor="let services of manager | paginate: { itemsPerPage: 60, currentPage: page }">
              <div style="position: relative; top: 0px">
                <ion-checkbox (click)="checkBox($event, services.id)" checked="true"></ion-checkbox>
                <div class="columnUser">{{services.usuario}}</div>
                <div class="columnPass">{{services.pass}}</div>
                <div class="columnRegister">13/07/2024</div>
                <div class="columnAccess">13/07/2024</div>
                <div class="columnService">13/07/2024</div>
                <div class="columnEncarg">{{services.countManager}}</div>
                <div class="columnTherap">{{services.countTherapist}}</div>
                <div class="columnTotal">{{services.serviceCount}}</div>
              </div>
              <!-- <div class="ellipse"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <pagination-controls class="paginator" previousLabel="" nextLabel=""
      (pageChange)="page = $event"></pagination-controls>
  </footer>
</body>

</html>