html:not(.hydrated) body {
  display: block;
}

.mobile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mobile .overlap-wrapper {
  background-color: #ffffff;
  // width: 375px;
  width: -webkit-fill-available;
  height: 1113px;
}

.mobile .overlap {
  position: relative;
  height: 1113px;
  background-color: rgba(232, 242, 239, 1);
}

.mobile .overlap-group {
  position: absolute;
  // width: 375px;
  width: -webkit-fill-available;
  height: 82px;
  top: 0;
  left: 0;
  background-color: rgba(31, 185, 150, 1);
}

.mobile .text-wrapper {
  position: absolute;
  height: 34px;
  top: 23px;
  left: 122px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 34.5px;
  white-space: nowrap;
}

.mobile .navbar {
  height: 40px;
  top: 41px;
  border-radius: 15px;
  position: absolute;
  width: 966px;
  left: 0;
}

.mobile .rectangle {
  position: relative;
  width: 966px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 15px;
  display: inline-grid;
}

.mobile .columnTotal {
  // height: 23px;
  // top: 8px;
  // left: 891px;
  // font-family: "Inter-Regular", Helvetica;
  // font-weight: 400;
  // color: #3c3c3c;
  // font-size: 18px;
  // line-height: 22.5px;
  // white-space: nowrap;
  // position: absolute;
  // letter-spacing: 0;

  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 400;
  width: 61px;
  position: absolute;
  left: 874px;
  top: 8px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.mobile .columnTherap {
  // height: 23px;
  // top: 8px;
  // left: 818px;
  // font-family: "Inter-Regular", Helvetica;
  // font-weight: 400;
  // color: #3c3c3c;
  // font-size: 18px;
  // line-height: 22.5px;
  // white-space: nowrap;
  // position: absolute;
  // letter-spacing: 0;

  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 400;
  width: 32px;
  position: absolute;
  left: 817px;
  top: 8px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.mobile .columnEncarg {
  // height: 23px;
  // top: 8px;
  // left: 746px;
  // font-family: "Inter-Regular", Helvetica;
  // font-weight: 400;
  // color: #3c3c3c;
  // font-size: 18px;
  // line-height: 22.5px;
  // white-space: nowrap;
  // position: absolute;
  // letter-spacing: 0;

  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 400;
  width: 32px;
  position: absolute;
  left: 744px;
  top: 8px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.mobile .columnService {
  height: 23px;
  top: 8px;
  left: 607px;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  font-size: 18px;
  line-height: 22.5px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.mobile .columnAccess {
  height: 23px;
  top: 8px;
  left: 488px;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  font-size: 18px;
  line-height: 22.5px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.mobile .columnPass {
  // width: 119px;
  // height: 23px;
  // top: 8px;
  // left: 275px;
  // font-family: "Inter-Regular", Helvetica;
  // font-weight: 400;
  // color: #3c3c3c;
  // font-size: 18px;
  // line-height: 22.5px;
  // position: absolute;
  // letter-spacing: 0;

  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 400;
  width: 7%;
  position: absolute;
  left: 275px;
  top: 8px;
  display: flex;
  justify-content: start;
  justify-items: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mobile .columnUser {
  // height: 23px;
  // top: 8px;
  // left: 48px;
  // font-family: "Inter-Regular", Helvetica;
  // font-weight: 400;
  // color: #3c3c3c;
  // font-size: 18px;
  // line-height: 22.5px;
  // white-space: nowrap;
  // position: absolute;
  // letter-spacing: 0;

  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 400;
  width: 20%;
  position: absolute;
  left: 48px;
  top: 8px;
  display: flex;
  justify-content: start;
  justify-items: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mobile .columnRegister {
  height: 23px;
  top: 8px;
  left: 370px;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  font-size: 18px;
  line-height: 22.5px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.mobile .div {
  height: 34px;
  top: 0;
  background-color: rgba(11, 154, 122, 1);
  border-radius: 10px;
  position: absolute;
  width: 966px;
  left: 0;
}

.mobile .total {
  position: absolute;
  height: 20px;
  top: 6px;
  left: 897px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.mobile .therapist {
  position: absolute;
  height: 20px;
  top: 6px;
  left: 807px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.mobile .manager {
  position: absolute;
  height: 20px;
  top: 6px;
  left: 722px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.mobile .service {
  position: absolute;
  height: 20px;
  top: 6px;
  left: 624px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.mobile .access {
  height: 20px;
  top: 6px;
  left: 508px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.mobile .pass {
  height: 20px;
  top: 6px;
  left: 275px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.mobile .user {
  height: 20px;
  top: 6px;
  left: 48px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.mobile .register {
  height: 20px;
  top: 6px;
  left: 387px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

#footer {
  position: fixed;
  bottom: 10px;
  left: 0%;
  width: 100%;
  height: 5%;
  color: black;
}

.paginator ::ng-deep .ngx-pagination .current {
  // background: var(--verde-oscuro, #0b9a7a); */
  background: transparent;
  color: black;
}

@media only screen and (min-device-width: 259px) and (max-device-width: 409px) {
  .mobile .frame {
    position: absolute;
    width: -webkit-fill-available;
    height: 51%;
    top: 106px;
    left: 0;
    overflow-x: scroll;
  }
}

@media only screen and (min-device-width: 410px) and (max-device-width: 1030px) {
  .mobile .frame {
    position: absolute;
    width: -webkit-fill-available;
    height: 66%;
    top: 106px;
    left: 0;
    overflow-x: scroll;
  }
}

ion-checkbox {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 17px;
  left: 15px;
  background-color: rgb(31, 185, 150);
  border-radius: 4px;
  --size: 22px;
  --checkbox-background-checked: rgb(11, 154, 122);
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid rgb(11, 154, 122);
}